.theme-toggle.theme-toggle--reversed .theme-toggle__expand {
  transform: scale(-1, 1);
}
.theme-toggle {
  --theme-toggle__expand--duration: 500ms;
}
.theme-toggle__expand g circle,
.theme-toggle__expand g path {
  transform-origin: center;
  transition: transform calc(var(--theme-toggle__expand--duration) * 0.65) cubic-bezier(0, 0, 0, 1.25)
    calc(var(--theme-toggle__expand--duration) * 0.35);
}
.theme-toggle__expand :first-child path {
  transition-property: transform, d;
  transition-duration: calc(var(--theme-toggle__expand--duration) * 0.6);
  transition-timing-function: cubic-bezier(0, 0, 0.5, 1);
}
.theme-toggle input[type='checkbox']:checked ~ .theme-toggle__expand g circle,
.theme-toggle--toggled:not(label).theme-toggle .theme-toggle__expand g circle {
  transform: scale(1.4);
  transition-delay: 0s;
}
.theme-toggle input[type='checkbox']:checked ~ .theme-toggle__expand g path,
.theme-toggle--toggled:not(label).theme-toggle .theme-toggle__expand g path {
  transform: scale(0.75);
  transition-delay: 0s;
}
.theme-toggle input[type='checkbox']:checked ~ .theme-toggle__expand :first-child path,
.theme-toggle--toggled:not(label).theme-toggle .theme-toggle__expand :first-child path {
  d: path('M-9 3h25a1 1 0 0017 13v30H0Z');
  transition-delay: calc(var(--theme-toggle__expand--duration) * 0.4);
  transition-timing-function: cubic-bezier(0, 0, 0, 1.25);
}
@supports not (d: path('')) {
  .theme-toggle input[type='checkbox']:checked ~ .theme-toggle__expand :first-child path,
  .theme-toggle--toggled:not(label).theme-toggle .theme-toggle__expand :first-child path {
    transform: translate3d(-9px, 14px, 0);
  }
}
.theme-toggle {
  border: none;
  background: 0 0;
  cursor: pointer;
}
.theme-toggle input[type='checkbox'] {
  display: none;
}
.theme-toggle .theme-toggle-sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
@media (prefers-reduced-motion: reduce) {
  .theme-toggle:not(.theme-toggle--force-motion) * {
    transition: none !important;
  }
}

.navbar li {
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  padding: 4px;
}
.navbar li:hover {
  border-bottom-color: rgb(var(--foreground-rgb));
}

.navbar.up {
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  // --tw-ring-color: rgb(15 23 42 / 0.05);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.theme-toggle--toggled {
  background: var(--color-back);

  & svg {
    color: var(--color-front);
  }
}

@media screen and (min-width: 1024px) {
  .socialNetworkIcons.isResponsive {
    gap: 2em;
  }
  .socialNetworkIcons.isResponsive svg {
    width: 40px;
    height: 40px;
  }
}
